{% include 'bird_base.conf.j2' %}

filter rt_import_vpc {
  if (net ~ [{{ ibgp.route_cidr }}{24,32}] && net.len > 31) then accept;
  reject;
}

filter rt_export_vpc {
  if (net ~ [{{ ibgp.route_cidr }}{24,32}] && net.len > 31) then accept;
  reject;
}

protocol kernel {
  scan time 5;

  learn;
  persist;
  graceful restart;

  ipv4 {
    import filter rt_import_vpc;
    export all;
  };
}

template bgp spine {
  local {{ bgp.ipv4_address }} as {{ ibgp.asn }};
  source address {{ bgp.ipv4_address }};

  hold time 90;
  password "{{ ibgp.password }}";

  ipv4 {
    export filter rt_export_vpc;
    next hop self;
  };

  ipv6 {
    export all;
    next hop self;
  };
}

{% for spine in groups['spine'] %}
protocol bgp spine{{ loop.index }} from spine {
  description "BGP spine - {{ spine }}";
  neighbor {{ hostvars[spine].bgp.ipv4_address }} as {{ ibgp.asn }};
}
{% endfor %}
